:root {
    --common-blue-color: #1fb6ff;
    --dark-blue-color: #0077d3;
    
    --dark-gray-color: #40464b;
    --main-color: #4d4d4d;
 
    --main-background-gray: #e5e6e9;
    --gray-border: #e5e6e9;
    
    --link-active-color: #364657;
    --link-color: #1fb6ff;

    --gray-button-color: lightgray;
    --blue-button-color: #1fb6ff;
    --red-button-color: #e21b2d;
    --dark-block-color: #2e3d4d;
 
    --common-dark-gray: #384657;


  } 
  
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: whitesmoke;

}

h1, h2, h3, h4, h5 {
    color: var(--common-blue-color);
}

input, select {
    color: var(--dark-blue-color);
    border: 1px solid lightgray;
}

form {
    background-color: white;
    line-height: inherit;
}

.debug {
    border: 1px red solid;
}

.debug-form{
    border: 1px red solid;
    padding: 10px;
}

label {
    color: gray;
}

main {
    min-height: 460px;
}

.block-label { display:block;}

.app-form {
    padding: 15px;
    margin: 10px auto;
    max-width: 50%;
    border: 1px solid lightgray;
}

.client-form, .object-form {
    width: 100%;
}

.form-input-item-sm input{
    max-width: 120px;
}

.form-input-item-md input{
    max-width: 270px;
}

.form-input-item-xxl {
    border: 1px red solid;
    width: 100%;
}

.form-input-item-xxl input {
    width: 100%;
}


.main-form {
    width: 50%;
    margin: 0 auto;
    background-color: white;
}

.tab-form {
   
    padding: 15px;
    margin: 15px auto;
    width: 100%;

}

.tab-form input {
    width: 100%;
    padding: 5px 0px;
}

.tab-form footer {
   padding: inherit;
}


.polis-parameters {
  
    padding: 15px;
    margin: 15px auto;
    width: 100%;
}

.polis-parameters select {
	margin: auto 0px;
	width: 100%;
    padding: 5px 0px;
    border: 1px solid lightgray;
    color: #007bff;

}

.form-input-item-small select {
	margin: auto 0px;
	height: 100%;
	width: 25%;
    padding: 5px 0px;
    border: 1px solid lightgray;
    color: #007bff;
}

.form-input-item-small span {
    border: 2px #add8e6 solid; padding: 4px 5px;
    background-color: #add8e6;
    color: #3d7e9a;
}


.form-input-item,
.form-input-item-small {
    padding: 0px;

}

.awesome-spinner {
	color: #add8e6;
	display: flex;
	justify-content: center;	
}

.search-form, .parameter-form{ 
    margin: 10px;
}

.form-input-valid input {
    border: 1px blue solid;
}

.form-input-error input {
    border: 1px red solid;
}


.vehicle-info-search-result li {
    display: inline-block;
    padding: 5px 10px;
}


.get-vehicle-form {
    border: 1px gray solid;
}

.search-form {
    width: 90%;
}

.vehicle-parameters {
    width: 100%;
    height: auto;
    margin: 10px auto;
}
.city-paraqmeters {
    width: 90%;
    padding: 10px 5px;
}

.city-paraqmeters select {
    color: --blue;
    width: 90%;
    padding: .375rem .375rem;
} 

.input-group-text {
    background-color: #1fb6ff;
    color: white;
}

.search-form input:focus {
    box-shadow: none;
}

.search-vehicle-wrapper {
    height: 100px; 
}

.vehicle-info {
    /* padding: .375rem .375rem;
    height: 128px; */
}

.vehicle-info ul {
    list-style: none;
}

.city-paraqmeters {
    margin: 0px auto;
    align-content: center;
}

.calc-home-page {
    width:100%;

    

    margin: 10px auto;
    background-color: #efefef;
}


.form-row {
    width: 100%;
    border: 1px red solid;
}

.nav-item .active {
    background-color: #1fb6ff;
}
.nav-item  .passive {
    background-color: lightgray;
}


.input-inn {width: 40%;}

/**/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .k3-parameter {
    padding: .375rem .375rem;
  }
           
  .used-taxi {
      height: 150px;
  }

  .small-select {
      width: 50%;
  }
 
  .form-input-item-small span {
      border: none;
      background: none;
  }


  .DayPickerInput  input {
    color: #007bff;
    width: 150px;
  }

  .col-polis-parameter {

      margin: 5px;
  }

  .discount-block {
      width: 250px;
  }


  .otk-parameters .select-widget {
      width: 50%;
  }

  .otk-parameters  {
    width: 400px;
}


.active-lang {color: red;}
.unactive-lang {color: blue;}  

.main-form {
    border: 1px var(--gray-border) solid;
    padding: 10px;
    margin: 10px auto;
}

.main-form footer {
    padding: 10px;
}

.main-form nav {
    margin: 0px auto; 
}


nav button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    min-width: 150px;
    font-size: x-large;
    font-family: FuturaPT;
    font-weight: 300;
    text-decoration: none;
    height: 48px;
    line-height: 46px;
    border: none;
    padding: 0 5px;
    margin: 0 .8em .4em;
    background: var(--blue-button-color);
    cursor: pointer;
    color: #fff;
    /*box-shadow: 0 2px 0 0 #0077d3;*/
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.parameters-link-active,
.parameters-link-passive {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    min-width: 100px;
    font-size: large;
    font-family: FuturaPT;
    font-weight: 300;
    text-decoration: none;
    height: 48px;
    line-height: 46px;
    border: none;

    padding: 0 .4em;

    margin: 0em .4em;
    cursor: pointer;
    color: #fff;
    /*box-shadow: 0 2px 0 0 #0077d3;*/
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
 
.parameters-link-active {background-color: var(--blue-button-color);}
.parameters-link-passive {background-color: var(--gray-button-color);}

.btn-prev {
    display: inline-block;
    float: left;
}
.btn-next {
    display: inline-block;
    float: right;
}



.form-input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

}

.form-input-row .form-input-item {
    margin: 1em 0em;
    /*width: 40%;*/
}


.form-parameter-input {
    width: 100%;
}   

.input-object-form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.input-object-form-row .select-widget {
    max-width: 300px;
}

.form-input-row select {
	margin: auto 0px;
	width: 100%;
    padding: 5px 0px;
    border: 1px solid lightgray;
    color: #007bff;

}

.make-polis-dialog {
    background-color: white;
}

.select-widget {
    background-color: white;
    position: relative;
    display: inline-block;
    width: 90%;
  }
  
.select-widget label {
    font-weight: 400;
}

  .select-input option {
    color: inherit;
 }
 
  
  .select-input {
    color: var(--dark-blue-color);
    position: relative;
    display: inline-block;
    padding: 5px;
    background-color: white;
    width: 100%;
  }
  .select-input:after {
    background-color: #1fb6ff;
    color:white;
    content: "▼";
    padding: 5px;
    font-size: 10px;
    position: absolute;
    right: 5px;
    top: 6px;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    width: 45px;
    height: 75%;
    pointer-events: none;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px lightgray solid;
  }

.date-picker-widget
  {
    background-color: white;
    position: relative;
    display: inline-block;   
  }
  
  .date-picker-widget label {
    font-weight: 400;
}

  .select-input option {
    color: inherit;
 }

  .date-input {
    color: var(--dark-blue-color);
    position: relative;
    display: inline-block;
    padding: 0px;
    background-color: white;
    width: 100%;
    z-index: 2;
  }
  .date-input:after {
    background-color: #1fb6ff;
    color:white;
    content: "▼";
    padding: 5px;
    font-size: 10px;
    position: absolute;
    /*right: -18px;*/
    left: 120px;
    top: 0px;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px lightgray solid;
  }


  select {

    font-size: 1.1em;
    color: #5184d8;
    border-radius: 2px;    
    border: 1px lightgray solid;
    padding: 0px 30px 0px 5px;
    width: 100%;
    background-color: white;
  }
  
  
  select {
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
  }
  .city-parameters {
      width:100%;
  }

  .check-select-block {
      width: 200px;
 
  }

  .addition-parameters {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      vertical-align: middle;
      flex-wrap: wrap;
    
  }

  .client-doc-row {
      display:flex;
      flex-direction: row;
      align-items: flex-start;
      vertical-align: bottom;
      flex-wrap: wrap;
  }

  .item-doc-seria {
      width: 100px;
  }
  .item-doc-seria, .item-doc-no, .item-date-get {
      margin: 5px;
  }
  .item-doc-type {
      width: 50%;
  }


  .item-doc-source {
    width: 500px;
}
  .make-polis-dialog header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .pl-summ label {
    display: inline-block;
  }

  .pl-summ h4, .pl-summ h5{
      display: inline-block; margin: 0px 5px; float: right;
  }
  
  .pl-summ h4 { font-weight: 800;}

  .input-error-message {
      color: red;
      font-size: 0.8em;
      display: block;
      padding-bottom: 0.6em;
      height: 1.8em;
  }

  .tab-form-row {
    border-top: 1px whitesmoke solid;
    padding: 5px;
  }


.tab-form-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}

  .parameters-data {
      line-height: 0.1px;
  }

.form-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: whitesmoke;
    padding: 5px;
}

.header-block label {
    display: inline-block;
}
.block-value {
    display: inline-block;
}

/* .get-fransgize-widget {
    display: table-row;
}
.get-fransgize-widget label {
    display: table-cell;
}
.get-fransgize-widget select {
    display: table-cell;
    width: 120px;
} */
.get-fransgize-widget {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.get-fransgize-widget .select-input
{
width: 150px;
}

.dgo-parameters .form-input-row {
    /* border: 1px red solid; */
    margin-top: -10px;
}

.dgo-parameters .select-input select {
    padding: 0px 30px 0px 5px;

}

.dgo-parameters .select-options-block {
    display:flex;    
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dgo-type {
   width: 180px;  
}

.dgo-insur-sum {
    width: auto;
}


.vin-widget {
    display: table-row;
}

.vin-widget input,
.vin-widget .dropdown {
    display: table-cell;
    margin-top: -5px;
}


.dropdown {
    position: relative;
    display: inline-block;
    font-size: large;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    /* box-shadow: 0px 5px 5px 0px #007bff;rgba(0,0,0,0.2); */
    border: 1px solid var(--blue-button-color);
    padding: 10px;
    z-index: 3;
    right: 0;
    font-style: italic;
    
}


.dropdown-content p {
    text-align: justify;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.vin-widget  .dropdown-content {
    min-width: 350px;
}

.dgo-propmis-title {
    margin-top: 15px;
    text-align: right;
}

.axtra-calculate-options {
    display: flex; 
    flex-direction: column;
}