:root {
    --common-blue-color: #1fb6ff;
    --dark-blue-color: #0077d3;
    
    --dark-gray-color: #40464b;
    --main-color: #4d4d4d;
 
    --main-background-gray: #e5e6e9;
    --gray-border: #e5e6e9;
    
    --link-active-color: #364657;
    --link-color: #1fb6ff;

    --gray-button-color: lightgray;
    --blue-button-color: #1fb6ff;
    --red-button-color: #e21b2d;
    --dark-block-color: #2e3d4d;
 
    --common-dark-gray: #384657;


  } 
  
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.debug {
    border: 1px red solid;
}

.debug-form{
    border: 1px red solid;
    padding: 10px;
}

label {
    color: gray;
}

main {
    min-height: 460px;
}

.block-label { display:block;}

.app-form {
    padding: 15px;
    margin: 10px auto;
    max-width: 50%;
    border: 1px solid lightgray;
}

.client-form, .object-form {
    width: 100%;
}

/*
.form-input-item input {
	margin: auto 0px;
	height: 100%;
	width: 300px;
    padding: 0px;
    border: 1px solid lightgray
}
*/
/*
.form-input-item select {
	margin: auto 0px;
	height: 100%;
	width: 90%;
    padding: 5px;
    border: 1px solid lightgray;
    color: #007bff;
}
*/
/*
.form-input-item span {
    border: 2px #add8e6 solid; padding: 4px 5px;
    background-color: #add8e6;
    color: #3d7e9a;
}
*/
.main-form {
    width: 50%;
    margin: 0 auto;
}

.client-form, .object-form {
    border: 1px lightgray solid;
    padding: 15px;
    margin: 15px auto;
    width: 100%;

}

.client-form input {
    width: 100%;
}

.object-form input {
    width: 100%;
}

.client-form footer, .object-form footer {
   padding: inherit;
}


.polis-parameters {
  
    padding: 15px;
    margin: 15px auto;
    width: 100%;
}

.polis-parameters select {
	margin: auto 0px;
	width: 100%;
    padding: 5px 0px;
    border: 1px solid lightgray;
    color: #007bff;

}

.form-input-item-small select {
	margin: auto 0px;
	height: 100%;
	width: 25%;
    padding: 5px 0px;
    border: 1px solid lightgray;
    color: #007bff;
}

.form-input-item-small span {
    border: 2px #add8e6 solid; padding: 4px 5px;
    background-color: #add8e6;
    color: #3d7e9a;
}


.form-input-item,
.form-input-item-small {
    padding: 0px;
    width: 100%;
}

.awesome-spinner {
	color: #add8e6;
	display: flex;
	justify-content: center;	
}

.search-form, .parameter-form{ 
    margin: 10px;
}

.form-input-valid input {
    border: 1px blue solid;
}

.form-input-error input {
    border: 1px red solid;
}


.vehicle-info-search-result li {
    display: inline-block;
    padding: 5px 10px;
}


.get-vehicle-form {
    border: 1px gray solid;
}

.search-form {
    width: 90%;
}

.vehicle-parameters {
    width: 100%;
    height: auto;
    margin: 10px auto;
}
.city-paraqmeters {
    width: 90%;
    padding: 10px 5px;
}

.city-paraqmeters select {
    color: --blue;
    width: 90%;
    padding: .375rem .375rem;
} 

.input-group-text {
    background-color: #1fb6ff;
    color: white;
}

.search-form input:focus {
    box-shadow: none;
}

.search-vehicle-wrapper {
    height: 180px;
}

.vehicle-info {
    padding: .375rem .375rem;
    height: 128px;
}

.vehicle-info ul {
    list-style: none;
}

.city-paraqmeters {
    margin: 0px auto;
    align-content: center;
}

.calc-home-page {
    width:100%;

    

    margin: 10px auto;
    background-color: #efefef;
}




.nav-item .active {
    background-color: #1fb6ff;
}
.nav-item  .passive {
    background-color: lightgray;
}

/**/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .k3-parameter {
    padding: .375rem .375rem;
  }
           
  .used-taxi {
      height: 150px;
  }

  .small-select {
      width: 50%;
  }
 
  .form-input-item-small span {
      border: none;
      background: none;
  }

  .DayPickerInput  input {
    color: #007bff;
  }

  .col-polis-parameter {
      display: inline-block;
      margin: 5px;
  }


.active-lang {color: red;}
.unactive-lang {color: blue;}  

.main-form {
    border: 1px var(--gray-border) solid;
    padding: 10px;
    margin: 10px auto;
}

.main-form nav {
    margin: 0px auto; 
}


nav button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    min-width: 150px;
    font-size: x-large;
    font-family: FuturaPT;
    font-weight: 300;
    text-decoration: none;
    height: 48px;
    line-height: 46px;
    border: none;
    padding: 0 5px;
    margin: 0 .8em .4em;
    background: var(--blue-button-color);
    cursor: pointer;
    color: #fff;
    /*box-shadow: 0 2px 0 0 #0077d3;*/
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.parameters-link-active,
.parameters-link-passive {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    min-width: 100px;
    font-size: large;
    font-family: FuturaPT;
    font-weight: 300;
    text-decoration: none;
    height: 48px;
    line-height: 46px;
    border: none;

    padding: 0 .4em;

    margin: 0em .4em;
    cursor: pointer;
    color: #fff;
    /*box-shadow: 0 2px 0 0 #0077d3;*/
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
 
.parameters-link-active {background-color: var(--blue-button-color);}
.parameters-link-passive {background-color: var(--gray-button-color);}

.btn-prev {
    display: inline-block;
    float: left;
}
.btn-next {
    display: inline-block;
    float: right;
}

.form-input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.form-input-row .form-input-item {
    margin: 1em;
    width: 40%;
}


.form-parameter-input {
    width: 100%;
}   



.form-input-row select {
	margin: auto 0px;
	width: 100%;
    padding: 5px 0px;
    border: 1px solid lightgray;
    color: #007bff;

}
  /*
  .select-widget {
   
    font-weight: 400;
    background-color: white;
    position: relative;
    float: left;
  }
  
  .select-widget option {
    color: var(--main-color);
     background-color: white;
  }
  
  
  
  
  .select-widget {
    border: 2px #ccc solid;
  }
  
  
  .select {
    position: relative;
    display: inline-block;
    padding: 10px;
  
  }
  .select:after {
    background-color: #1fb6ff;
    color:white;
    content: "▼";
    padding: 8px;
    font-size: 10px;
    position: absolute;
    right: 2px;
    top: 5px;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    width: 12%;
    height: 80%;
    pointer-events: none;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  select {
    font-size: 1.3em;
    color: #5184d8;
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
    font-size: 80%;  
    width: 22em;
  }
  
  
  select {
    padding-right: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 7px;
    border: none;
  }
  */